**/target/
**/generated/
**/sts-app/target/
**/sts-app/src/generated/
**/dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

